body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a6acd0;
}

.logo img{
  width: 50px;
  border-radius: 50%;
  margin: 15px;
}
.container {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #0f0f0f;
  box-shadow: 8px 0 10px rgba(15, 7, 129, 0.2);
  border-radius: 5px;
  /* background-image: linear-gradient(135deg, #474747, #C0C0C0); */
}

h1 {
  text-align: center;
  color: #030331;
  font-size: 30px;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(4, 29, 39);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="tel"]
 {
  width: 95%;
  padding: 10px;
  color: black;
  border: none;
  border-bottom: 1px solid black;   /*1*/
  background-color: transparent;   /*1*/
}



button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #0a1c7b;
  color: #f8f4f6;
  /* border: 1px solid rgb(101, 17, 225); */
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #01061c;
}

p {
  margin-top: 10px;
  text-align: center;
  color: #111111;
}

a {
  color: #d11616;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
